<p id="notice"><%= notice %></p>

<h1>Babysitters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babysitters.each do |babysitter| %>
      <tr>
        <td><%= link_to 'Show', babysitter %></td>
        <td><%= link_to 'Edit', edit_babysitter_path(babysitter) %></td>
        <td><%= link_to 'Destroy', babysitter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Babysitter', new_babysitter_path %>
